@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Poppins:wght@700;800&family=Space+Grotesk:wght@600;700&family=Fira+Code:wght@400;500&family=PT+Mono&display=swap");

body {
  margin: 0;
  font-family: "PT Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}
